<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">  
    <link rel='stylesheet' href='public/stylesheets/index.css' />
  </head>
  <body>
  	<header>
  		<h1><%= title %></h1>
  		<ul class="type" id="type">
  			<li data-type="dot">Dot</li>
  			<li data-type="column" class="selected">Column</li>
  		</ul>
  		<p>
  			Volume <input id="volume" type="range" min="0" value="60"/>
  		</p>
  	</header>
    <div class="left">
    	<ul id="list">
      <ul id="list">
        
        <li title=".DS_Store" class=""> .DS_Store</li>
        
        <li title="李荣浩 - 老街.mp3" class=""> 李荣浩 - 老街.mp3</li>
        
        <li title="杨宗纬 - 流浪记.mp3" class=""> 杨宗纬 - 流浪记.mp3</li>
        
        <li title="王菲 - 天空.mp3" class=""> 王菲 - 天空.mp3</li>
        
        <li title="薛之谦 - 我好像在哪见过你.mp3" class="selected"> 薛之谦 - 我好像在哪见过你.mp3</li>
        
        <li title="薛之谦 - 演员.mp3" class=""> 薛之谦 - 演员.mp3</li>
        
        <li title="金玟岐 - 岁月神偷.mp3" class=""> 金玟岐 - 岁月神偷.mp3</li>
        
      </ul>
    	</ul>
    </div>
	<div class="right" id="box"></div>  
	<script type="text/javascript" src="public/javascripts/index.js"></script>
</body>
</html>